<a href="https://colab.research.google.com/github/MartinTiong/CPE009A-OOP/blob/main/DEMO4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
print (bool("Hello"))
print (bool(False))

True
False

The bool function allows you to evaluate any value, and give you true or false in return

Almost any valuse is evaluated to true it it has some sort of context except for empty space/set

In [3]:
print(bool(False))
print(bool(None))
print(bool(0))
print(bool(""))
print(bool(()))
print(bool({}))
print(bool([]))

False
False
False
False
False
False
False

functions can return a boolean

In [12]:
def myFunction():
  return True

  if myFunction():
    print("YES")

  else:
      print("NO")

In [15]:
print(10>9)
a=6
b=7
print(a==b)
print(a!=a)

True
False
False

Python operators
operators are use to perform operation on variables and values
In this example below, we use the + operator to add together two values

In [16]:
print(10+5)
print(10-5)
print(10*5)
print(10/5)
print(10%5)
print(10//3)
print(10**2)

15
5
50
2.0
0
3
100

Bitwise operators

-Works on bits and performs bit by bit operation. Assumee if a=60 and b= 13; now in binary format they will be as follows
a= 0011 1100, decimal 60
b= 0000 1101, decimal 13

In [20]:
a= 60
b=13
a & b #and

12

In [21]:
a= 60
b=13
a | b #or

61

In [26]:
a= 60
b= 13
print(a^b) #xor
print(a<<b)
print(a>>b)
print(a<<2)

49
491520
0
240

Python assignment operators
x+=3 same as x = x+3
x-=3 same as x= x-3
x*=3 same as x=x*3
x/=3 same as x=x/3
x&=3 same as x=x%3

In [27]:
x=1
x+=3
print(x)

7

In [29]:
x=3
x-=3
print(x)

0

In [30]:
x =1
x*=3
print(x)

3

In [32]:
x=1
x/= 3
print(x)

0.3333333333333333

comparison operators

In [34]:
y =60
z =13
print(y and b )

13

Logical operators

In [40]:
y= 60
z=13
print(y > z)
print(y<z)
print(y>z and z>y)
print(y>z and z<y)
print(not(y>z and z<y))

True
False
False
True
False

Identity operator

In [44]:
print(y is z)
print(y is not z)

False
True

loooping statement

- For loop:

In [72]:
week = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"]
for z in week:
  print(z)

Sunday
Monday
Tuesday
Wednesday
Thursday
Friday
Saturday

break statement

In [92]:
week= ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"]
for x in week:
  if x=="Wednesday":
    break
    x= day
    print(day)

range function

In [79]:
for x in range (6):
 print(x)
for x in range (2,6):
  print(x)

0
1
2
3
4
5
2
3
4
5

Nested loop

In [81]:
adjective =["red", "big", "tasty"]
fruits= ["apple", "banana", "cherry"]
for x in adjective:
  for y in fruits:
    print(x,y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

- While loop

In [ ]:
i=1
while 1<6:
 print(i)
i+=1

break statement

In [ ]:
i=1
while i<6:
 print(i)
 if i==3:
  break
  i+=1

Continue statement

In [91]:
i=0
while i<6:
  i +=1
  if i==3:
   continue
  print(i)

1
2
4
5
6