<a href="https://colab.research.google.com/github/MartinTiong/CPE009A-OOP/blob/main/Demo1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


Python Indentation

In [1]:
if 5>2:
  print("Five is greater than two")

Five is greater than two

Python Comments

In [2]:
if 5>2:
  print("Five is greater than two") #comparison of number 5 and 2

Five is greater than two

In [4]:
#comment
print("Hello World")

Hello World

Variable naming conventions

Python Variable

In [12]:
x=1 #This is a single variable with a value
a,b=0,-1
a,b,c=0,-1,2
print(a)
print(b)
print(x)
b="Sally"
print(b)

0
-1
1
Sally

Casting

In [13]:
b="sally" #This is a typer of string
b=int(4)
print(b)
b=float(4)
print(b)

4
4.0

Type function

In [14]:
x=5
y="John"
print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

"Double quotes or 'Single quotes'

In [17]:
y="John"
print(y)
y='John'
print(y)

John
John

Case Sensitive

In [20]:
a=4
A="Sally"
#A will not overwrite a
print(A)
print(a)

Sally
4

Multiple Variables

In [25]:
x,y,z = "one","two", "three"
print(x)
print(y)
print(z)

one
two
three

One Value to Multiple Variables

In [26]:
x=y=z="four"
print(x)
print(y)
print(z)

four
four
four

Output Variables

In [30]:
x= "enjoying"
print("Python programming is " + x)

Python programming is enjoying

Other way:

In [32]:
x= "Python is "
y= "enjoying"
z =x + y
print(z)

Python is enjoying