<a href="https://colab.research.google.com/github/MartinTiong/CPE009A-OOP/blob/main/Hands_on_Activity_3_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Hands on activity 3.1

Distance formula

In [4]:
def distance_formula(point1, point2):
 x1, y1 = point1["x"], point1["y"]
 x2, y2 = point2["x"], point2["y"]
 distance = ((x2 - x1) ** 2 + (y2 - y1) ** 2) ** 0.5
 return distance

point1 = {"x":1, "y":1}
point2 = {"x":2, "y":3}
distance = distance_formula(point1, point2)
print("Distance between", point1, "and", point2, ":", distance)

Distance between {'x': 1, 'y': 1} and {'x': 2, 'y': 3} : 2.23606797749979

Simple word filter

In [5]:
sentence = input("Sentence: ")
print(sentence.replace('stupid', '******'))

Sentence: stipod stupid dog
stipod ****** dog

Phonebook

In [13]:
def display_contact(phonebook, record_id):
  for record in phonebook:
      record_info = record.split(",")
      if int(record_info[0]) == record_id:
         print("Name:", record_info[1])
         print("Contact:", record_info[2])
         print("Address:", record_info[3])
         return
  print("Record not found.")

phonebook = [
  "1,Andrei,555-555,123 Cubao",
  "2,Martin,444-444,456 Sta. Mesa",
  "3,Angel,333-333,344 Novaliches"
]

record_id = int(input("Enter the record id: "))
display_contact(phonebook, record_id)

Enter the record id: 3
Name: Angel
Contact: 333-333
Address: 344 Novaliches